<section class="featured-products related-products" data-product-id="{{product.id}}" data-image-ratio="fixed-ratio square-crop">
	<div class="container-fluid">
    <div class="row">
      <div class="col-12 text-center mx-auto">
        <h2 class="mt-0">{{section.settings.related_products_title}}</h2>
      </div>
    </div>
		<div class="row justify-content-center featured-products-slick">
			
		</div>
	</div>
</section>