
	<div class="container-fluid footer__featured__on text-center {% if section.settings.mobile_stacked == true %}desktop-h{% endif %}">
		<div class="row">
			<div class="col-12">
				{% if section.settings.featured_heading != empty %}
					<h4> {{section.settings.featured_heading}} </h4>
				{% endif %}
				<div class="images footer-featured-slick pt-2">
					{% for block in section.blocks %}
						{% case block.type %}
							{% when 'featured_on_logo' %}
							<div class="holder">
								<img class="img-fluid lazyload" width="100%" height="100%" src="{{ block.settings.image | img_url: 'master' }}" alt="Featured On Image">
							</div>
						{% endcase %}
					{% endfor %}
				</div>
              
              	{% if section.settings.mobile_stacked == true %}
				<div class="mobile-images pt-2">
					{% for block in section.blocks %}
						{% case block.type %}
							{% when 'featured_on_logo' %}
							<div class="holder">
								<img class="img-fluid lazyload" width="100%" height="100%" src="{{ block.settings.image | img_url: 'master' }}" alt="Featured On Image">
							</div>
						{% endcase %}
					{% endfor %}
				</div>
              {% endif%}
			</div>
		</div>
	</div>


{% schema %}
{
    "name": "As Featured On",
    "settings": [
		{
			"type": 	"header",
			"content": 	"Featured On Area"
		},
		{
			"type":	  "text",
			"id":     "featured_heading",
			"label":  "Featured On Heading"
		},
		{
			"type":	  "checkbox",
			"id":     "mobile_stacked",
			"label":  "Stacked Logos On Mobile?"
		}
    ],
    "blocks": [
		{
			"type": "featured_on_logo",
			"name": "Featured On Logo",
			"limit": 6,
			"settings": [
				{
					"type": "image_picker",
					"id": 	"image",
					"label": "Image"
				}
			]
		}
	],
	"presets": [
    {
      "name":       "As Featured On",
      "category":   "Content"
    }
  ]
}
{% endschema %}