{% section 'hero-image' %}
{% section 'page-about-us' %}
<div class="mt-5 pt-5">{% section 'reviews' %}</div>
<div class="mt-5 pt-5">{% section 'timeline' %}</div>
<div class="mt-5 pt-5">{% section 'faqs' %}</div>
<div class="mt-5 pt-5">{% section 'cta-banner' %}</div>