{% comment %}
  The share buttons share the home page URL. The share text is grabbed from the store
  meta description.
{% endcomment %}

{% layout 'password' %}

<h3>{{ 'general.password_page.opening_soon' | t }}</h3>
